.footer {
    background-color: #6c757d;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .row > div{
    padding-left: 0;
    padding-right: 0;
  }

  .carousel-inner > .icarousel-item {
    height: 400px;
 }